html {
  font-size: 16px;
}

body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 1.0rem;
}

code {
  color: #821732;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  /*font-weight: bold;*/
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -.025rem;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

.navbar {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.footer {
  color: #3e444c;
  font-size: 0.8rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}